body {
  background: #252529;
  color: #fff;
  font-family: "Chivo Mono", monospace;
  font-family: "Itim", cursive;
  font-family: "Kosugi Maru", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Outfit", sans-serif;
}
table {
  font-family: "Chivo Mono", monospace;
  font-family: "Itim", cursive;
  font-family: "Kosugi Maru", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Outfit", sans-serif;
}
